<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blockchain using Python, with RSA Encryption</title>

    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/vendor/DataTables/css/datatables.min.css" />
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
</head>
<body>

    

    <p2>Client Side</p2>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/DataTables/js/datatables.min.js"></script>
    <script src="/static/vendor/DataTables/js/ellipsis.js"></script>

    <script>
        $(function(){

        });
    </script>

</body>
</html>